@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&display=swap');

:root{
    --fonte: 'Source Code Pro', monospace;
    --size: 20px;
    --cor-fundo: #000;
    --verde: #0f0;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--cor-fundo);
  color: var(--verde);
}

.txt{
  font-family: var(--fonte);
  font-size: var(--size);
  line-height: 20px;
  color: var(--verde);
}

#terminal {
  font-family: var(--fonte);
  padding: 10px;
  width: 80%;
  max-width:800px;
  margin: 50px 0; 
  background-color: var(--cor-fundo);
  overflow-y:auto;
  position: absolute; 
  left: 15px; 
  top: 47px; 
}

#output{
  font-size: var(--size);
}

#input-line {
  display: flex;
  align-items: center;
}

#input {
  border: none;
  background: transparent;
  color: var(--verde);
  outline: none;
  width: 100%;
  font-size: var(--size);
  font-family: var(--fonte);
}

#prompt {
  margin-right: 5px;
  font-size: var(--size);
}


 .blink {
    animation: blink 1s steps(1, end) infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

